/* common css */

h1 {
    font-family: Babas neue, sans-serif;
    font-size: 60px;
    font-weight: bold;
}

h3 {
    font-family: Babas neue, sans-serif;
}


/* header style */

nav {
    background-color: #FFF9F4;
}

nav ul li {
    font-weight: 500;
}

#banner {
    background-color: #FFF9F4;
    padding-top: 80px;
}

header nav a img {
    width: 290px;
}

.react {
    color: #FA804C;
}

.run {
    color: #363958;
}

.btn {
    width: 170px;
    height: 60px;
    background: linear-gradient(to bottom, #3D4FF3, #3543BC)
}

button img {
    width: 24px;
    padding-right: 5px;
}



/* casual shoes area */
#casual-shoes {
    margin-top: 50px;
    margin-bottom: 50px;
}

.title {
    font-family: Babas neue, sans-serif;
    font-size: 48px;
    color: #363958;
    margin-bottom: 30px;
}

.image-bg {
    background-color: #f1f1f1;
}

.product {
    font-family: Babas neue, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #363958;
}

.card {
    border: none;
}

.price {
    color: #FA804C;
}

/* service area */
#service {
    margin-top: 130px;
}

.service-icon {
    width: 72px;
    height: 82px;
}

.service-title {
    font-size: 24px;
    font-weight: bold;
}

#service p {
    font-size: 16px;
}